[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
flake8 = "*"
autopep8 = "*"
pydocstyle = "*"
pytest = "*"
awscli = "*"
aws-sam-cli = "*"
boto3 = "*"

[packages]
pandas = "*"

[requires]
python_version = "3.7"
